<littil-title>DEVOXX4KIDS</littil-title>

<littil-content-container outerClasses="mb-3">
  <h2>Stichting Devoxx4kidsNL</h2>
  <p>De Stichting Devoxx4kidsNL behartigt de belangen vanuit de internationale Devoxx4kids community.</p>
  <p>De Stichting Devoxx4kidsNL is in het leven geroepen om ondersteuning te bieden en de formule te bewaken bij de
    verschillende Devoxx4kids initiatieven welke worden georganiseerd in Nederland. Ondersteuning kan zijn vanuit
    financiële, communicatie en/of organisatorisch aard of via levering van bijvoorbeeld spullen (t-shirts, banners,
    etc.) en [educatieve] materialen.
  </p>
  <p>Wil een bedrijf of organisatie graag een Devoxx4kids event organiseren dan kan zij hiervoor een aanvraag doen bij
    de stichting.
  </p>

  <h2>Voorbeelden van Devoxx4kidsNL events</h2>
  <p>Programmeren met Code Combat, Minecraft modding, een app maken met AppInventor, programmeren met Lego Mindstorms,
    muziek maken met Sonic Pi of zelfs programmeren zonder computer met CS Unplugged. Kijk onder het kopje Materiaal
    voor meer workshops.
  </p>

  <h2>Doel</h2>
  <p>Het doel van de stichting is het creëren van bewustwording en kinderen op een leuke manier te inspireren en kennis
    te laten maken met programmeren.
  </p>

  <h2>Doelgroep</h2>
  <p>De evenementen welke worden georganiseerd onder vlag van Devoxx4kidsNL zijn gericht op kinderen van de bovenbouw
    basisschool en onderbouw voortgezet onderwijs (ongeveer 10-14 jaar).
  </p>
  <p>De workshops worden voornamelijk gehouden in de weekends en/of schoolvakanties en zijn in principe gratis.
    Bedrijven zorgen voor vrijwilligers die op een professionele manier de kinderen lesgeven en begeleiden bij de
    opdrachten.
  </p>
  <p>Voor bedrijven is dit een kans om kinderen en ouders kennis te laten maken met hun bedrijf door middel van het
    hosten van een event. Ook is het een kans voor bedrijven om haar werknemers iets extra’s te bieden door zichzelf in
    te zetten als vrijwilliger bij een event.
  </p>

  <button class="py-4 px-5 rounded-3xl bg-cyan-600 text-blue-900 hover:brightness-110 hover:text-white" (click)="navToDevoxx()">
    Devoxx4kids Website
  </button>
</littil-content-container>
