<littil-content-container outerClasses="mb-3">
  <h1 class="mb-2 font-bold text-5xl">Informatie voor scholen</h1>

  <div class="flex flex-col gap-y-4 mt-4">
    <p>Onze LITTIL docenten geven vrijwillig zonder vergoedingen les aan kinderen.</p>

    <p class="font-bold">Voorbeeld activiteiten</p>

    <ul class="list-disc">
      <li>Een spelletje programmeren met Scratch</li>
      <li>Raket bouwen met parachute en middels een Arduino-computer calculaties maken om de hoogte en snelheid te
        bepalen terwijl deze in de lucht zit.
      </li>
      <li>Lego Mindstorms</li>
      <li>Lessen zoals: Hoe werkt een computer, Hoe ga je met Social Media om of hoe zorg je dat jouw accounts niet
        gehacked worden.
      </li>
      <li>En nog vele andere mogelijkheden.</li>
    </ul>

    <p>Omdat wij nog in orienterende fase zijn zoeken wij hulp van scholen en/of docenten die ons willen vertellen wat
      zij nodig hebben om kinderen beter te laten omgaan met ICT.
    </p>

    <p class="font-bold text-3xl text-orange-500">Ben jij van een school die</p>

    <ul class="list-disc font-bold text-xl text-orange-500">
      <li>hulp kan gebruiken van een techneut, voor het geven van een workshop</li>
      <li>hulp kan gebruiken van een techneut voor technische ondersteuning</li>
      <li>input kan geven hoe wij ons platform nog beter kunnen maken voor jouw school</li>
    </ul>

    <p class="font-bold text-3xl">dan komen wij graag in
      <a class="text-blue-200 hover:text-blue-100 cursor-pointer" href="https://www.littil.org/contact/"
         target="_blank">contact</a>!
    </p>

  </div>
</littil-content-container>

