<littil-content-container outerClasses="mb-3">
  <section class="main-section my-12">
    <div class="grid grid-cols-12 gap-x-4">

      <main class="col-span-12 md:col-span-8">
        <article>
          <h1 class="mb-2 text-5xl font-bold">INFORMATIE</h1>
          <p>Platform LITTIL is op dit moment op zoek naar scholen, IT specialisten en sponsors.
            Mocht u interesse hebben dan vragen wij om één van deze pagina’s te bezoeken en contact met ons op te nemen.
          </p>
        </article>
      </main>

      <aside class="col-span-12 md:col-span-4 bg-blue-200 text-white">
        <div class="flex flex-col gap-y-4 p-4">

          <h3 class="text-2xl font-bold">Recente berichten</h3>
          <ul>
            <li><a href="">LITTIL</a></li>
          </ul>

          <h3 class="mt-6 text-2xl font-bold">Categorieën</h3>
          <ul>
            <li><a href="">LITTIL</a></li>
          </ul>

        </div>
      </aside>

    </div>
  </section>
</littil-content-container>
