<div [@hideShow]="loading ? 'hidden' : 'visible'">
  <h1 class="font-bold text-lg text-blue-200 mb-3">Inloggen</h1>
  <form
    [formGroup]="loginForm"
    data-test="form-login"
    (submit)="onClickLogin()"
  >
    <littil-form-input-text
      formControlName="email"
      id="email"
      label="E-mailadres"
      [hasError]="FormUtil.InValid(loginForm.controls['email'])"
    >
      <littil-form-error-message
        *ngIf="FormUtil.InValid(loginForm.controls['email'])"
        errorText="E-mailadres is verplicht"
      ></littil-form-error-message>
    </littil-form-input-text>
    <littil-form-input-password
      formControlName="password"
      id="password"
      label="Wachtwoord"
      [hasError]="FormUtil.InValid(loginForm.controls['password'])"
    >
      <littil-form-error-message
        *ngIf="FormUtil.InValid(loginForm.controls['password'])"
        errorText="Wachtwoord is verplicht"
      ></littil-form-error-message>
    </littil-form-input-password>
  </form>

  <littil-button [inline]="true" (click)="onClickLogin()"
    >Inloggen</littil-button
  >
  <littil-button
    [inline]="true"
    colorClass="bg-yellow-50"
    (click)="onClickCancel()"
    >Annuleren</littil-button
  >
</div>
