<littil-title>Contact</littil-title>

<littil-content-container outerClasses="mb-3">

  <div class="grid grid-cols-12 gap-4 p-8 bg-blue-200">
    <h2 class="col-span-12 text-white">Laat een bericht achter</h2>

    <div class="col-span-12 md:col-span-6 text-white">
      <p>Wil je meer weten over het LITTIL initiatief?</p>
      <p>Misschien omdat je als docent of schoolvertegenwoordiger benieuwd bent naar de mogelijkheden.</p>
      <p>Of omdat je graag mee wilt helpen om kinderen in aanraking te laten komen met het IT vakgebied.</p>
      <p>Laat een berichtje achter en wij nemen contact met jou op!</p>
    </div>

    <div class="col-span-12 md:col-span-6">
      <ng-container *ngIf="contactForm">
        <form class="flex flex-col" [formGroup]="contactForm">
          <littil-form-input-text formControlName="name" [placeholder]="'Je naam'">
          </littil-form-input-text>

          <littil-form-input-text formControlName="email" [placeholder]="'Je e-mailadres'">
          </littil-form-input-text>

          <littil-form-input-text formControlName="subject" [placeholder]="'Onderwerp'">
          </littil-form-input-text>

          <littil-form-input-text formControlName="role" [placeholder]="'Mijn rol (optioneel)'">
          </littil-form-input-text>

          <textarea cols="30" rows="8"
                    placeholder="Je bericht (optioneel)"
                    formControlName="message"
                    [ngClass]="'border-yellow-100 focus:border-yellow-200 placeholder:text-yellow-100 focus:ring-yellow-200'"
                    class="appearance-none border rounded w-full py-2 px-3 mb-2 text-gray-700 placeholder:text-sm leading-tight ring-0 focus:ring-2 focus:ring-opacity-40">
          </textarea>

          <littil-button [inline]="true" (onClick)="postForm()">Verzenden</littil-button>
        </form>
      </ng-container>
    </div>

  </div>
</littil-content-container>
