<littil-title>Contact</littil-title>

<littil-content-container outerClasses="mb-3">

  <div class="grid grid-cols-12 gap-4 p-8 bg-blue-200">
    <h2 class="col-span-12 text-white">Laat een bericht achter</h2>

    <div class="col-span-12 md:col-span-6 text-white">
      <p>Wil je meer weten over het LITTIL initiatief?</p>
      <p>Misschien omdat je als docent of schoolvertegenwoordiger benieuwd bent naar de mogelijkheden.</p>
      <p>Of omdat je graag mee wilt helpen om kinderen in aanraking te laten komen met het IT vakgebied.</p>
      <p>Laat een berichtje achter en wij nemen contact met jou op!</p>
    </div>

    <div class="col-span-12 md:col-span-6">
      <div class="flex flex-col">
        <label class="text-white">Je naam</label>
        <input type="text" class="mb-4">

        <label class="text-white">Je e-mailadres</label>
        <input type="email" class="mb-4">

        <label class="text-white">Onderwerp</label>
        <input type="text" class="mb-4">

        <label class="text-white">Mijn rol (optioneel)</label>
        <input type="text" class="mb-4">

        <label class="text-white">Je bericht (optioneel)</label>
          <textarea name="" id="" cols="30" rows="8"></textarea>
      </div>
    </div>
  </div>

</littil-content-container>
