<littil-content-container outerClasses="mb-3">
  <h1 class="mb-6 font-bold text-5xl">Informatie voor Sponsors</h1>

  <div class="flex flex-col gap-y-4">
    <p>Stichting Devoxx4Kids, en ook platform LITTIL, verzorgen Devoxx4Kids dagen en workshops op scholen zonder
      hiervoor
      kosten in rekening te brengen voor de kinderen/ouders. Wij vinden namelijk dat ieder kind het recht heeft om alles
      over IT te leren.
    </p>

    <p>Maar het opzetten en onderhouden van het LITTIL platform kost geld. Daarom zoeken wij sponsors!</p>

    <p class="font-bold text-3xl">
      Mocht u interesse hebben om uw bedrijf te verbinden aan dit initiatief, neem dan
      <a class="text-blue-200 hover:text-blue-100 cursor-pointer" href="https://www.littil.org/contact/"
         target="_blank">contact</a> met ons op!
    </p>
  </div>
</littil-content-container>

