<littil-content-container outerClasses="mb-3">
  <h1>
    Kinderen op een leuke en inspirerende manier kennis laten maken met
    programmeren.
  </h1>
  <strong
    >Vanuit de stichting Devoxx4kids willen we meer kinderen enthousiast maken
    voor het programmeer vak en hen via scholen bereiken en
    ondersteunen.</strong
  >

  <p>
    Hiervoor bouwen wij aan een platform genaamd LITTIL, waarmee techneuten die
    het leuk vinden om workshops te geven in contact kunnen komen met scholen en
    andersom.
  </p>
  <p>
    Tijdens deze onderzoekende fase zoeken wij input van scholen, die ons kan
    helpen bij het geven van de workshops. Er zijn veel ideeën voor workshops,
    en er is al veel lesmateriaal beschikbaar.
  </p>
</littil-content-container>
