<littil-content-container
  outerClasses="bg-yellow-100 mb-6"
  innerClasses="text-white uppercase flex"
>
  <ng-container *ngFor="let route of menuRoutes">
    <littil-main-menu-button *ngIf="!route.subRoutes" [path]="route.path">{{
      route.menuText
    }}</littil-main-menu-button>
    <littil-main-menu-dropdown-button
      *ngIf="route.subRoutes"
      [path]="route.path"
      [subRoutes]="route.subRoutes"
      >{{ route.menuText }}</littil-main-menu-dropdown-button
    >
  </ng-container>
</littil-content-container>
<router-outlet></router-outlet>
