<littil-content-container
  [outerClasses]="'bg-blue-50 p-4 flex'"
  [innerClasses]="'flex justify-between'"
>
  <div>
    <img src="assets/littil_logo.png" class="h-12" alt="LITTIL logo" />
  </div>
  <div>
    <!-- <littil-button [inline]="true" data-test="register-btn"
      >Registeren</littil-button
    > -->
    <littil-button
      [inline]="true"
      data-test="login-btn"
      (click)="openLoginModal()"
      >Inloggen
    </littil-button>
  </div>
</littil-content-container>
<littil-content-container
  outerClasses="bg-yellow-100 mb-6"
  innerClasses="text-white uppercase flex"
>
  <littil-main-menu-button
    *ngFor="let route of menuRoutes"
    [path]="route.path"
    >{{ route.menuText }}</littil-main-menu-button
  >
</littil-content-container>
<router-outlet></router-outlet>
